.invite {
  &::before {
    height: 400px;
    top: 80px;

  }

  &__contents {
    &-pc {
      display: flex;
      overflow: hidden;

      & .invite__box {
        margin: 0 15px;

      }
    }

    &-sp {
      display: none;
    }
  }

  &__subtext {
    margin-bottom: 60px;

  }

  &__wrap {
    padding-top: 150px;
  }
  &__btn{
    margin-bottom:120px;
  }
}