@import "../common/system";

/* news 768up */
.news{
  margin-top: 24px;
}
.news > div:nth-child(2){
  margin-top: 90px;
}
.news-content{
  display: flex;
  gap: unquote('min( 4.63vw, 50px)');
}
.news-content__img{
  width: unquote('min( 54%, 580px)');
  flex-shrink: 0;
}
.news > div:nth-of-type(odd){
  flex-direction: row-reverse;
}

/* .news-content__imgの上書き */
.news-content__img{
  max-width: unquote('min( 47.4vw, 512px)');
}
.news__img--fst img{
  width: calc(100% + 16px);
  margin-left: 0;
  margin-right: 0;
}

.news-about{
  width: calc(100vw - 8px);
  margin-left: calc(50% - 50vw);
  // margin-left: -16px;
  background: -webkit-image-set(url(../images/news/news_bg.jpg) 1x, url(../images/news/news_bg@2x.jpg) 2x) center center/cover no-repeat;
}
.news-about__heading{
  padding-top: 120px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  background: none;
}
.news-about__heading-txt{
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.news-def{
  max-width: 1080px;
  margin: 0 auto;
}
.news-def__term{
  float: left;
  padding-bottom: 20px;
  border-top: none;
}
.news-def__desc{
  margin-left: 0;
  padding-left: 200px;
  padding-top: 20px;
  // border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  address{
    display: inline;
  }
}
.news-map{
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 50px;
  margin-bottom: calc(100% / 3 / 2 * -1);
  iframe{
    aspect-ratio: 3 / 1;
  }
}
.introduction{
  padding-top: 120px;
  padding-bottom: 80px;
  margin-top: calc(100% / 3 / 2 + 96px);
  margin-bottom: 60px;
  border-top: 1px solid $c-primary;
  border-bottom: 1px solid $c-primary;
  h2{
    text-align: center;
  }
}
.introduction__wrap{
  display: flex;
  justify-content: center;
  gap: unquote('min(4.62vw, 50px)');
}
.introduction__wrap--fst{
  gap: unquote('min(2.78vw,30px)');
  align-items: center;
}
.introduction__wrap--snd{
  margin-top: 55px;
}
.introduction__img{
  width: unquote('min( 49.72vw, 537px)');
  margin-left: 0;
  margin-right: 0;
  img{
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}
.introduction__document{
  width: unquote('min(27.77vw,300px)');
  margin-top: 0;
  h3{
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 20px;
  }
  h4{
    margin-bottom: 0;
    margin-top: 3px;
    font-size: 24px;
  }
  p{
    margin-bottom: 0;
    margin-top: 5px;
  }
}
.introduction__document--fst{
  width: unquote('min(31.48vw,340px)');
  h3{
    margin-top: 0;
  }
}
.news-link{
  display: flex;
  gap: unquote('min(2.78vw,30px)');
  padding-bottom: 40px;
}
.news-link__btn{
  width: unquote('min(31.48vw,340px)');
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: $c-primary;
  background-color: #fff;
  border: 1px solid $c-primary;
  margin-top: 10px;
}