.topabout {
  &__lefttitle{
        &-br {
          display: none;
        }
  }
  &__rightbox {
    display: flex;
    height:200px;
    &-imgbox {
      &>img{
        max-width: 262px;//safari対応
        height:200px;
      }
    }

    &-txtbox {
      width: calc(100% - 270px);
      padding: 15px;
    }

    &-title {
      margin-top: 0;
    }
  }
}