@import "../common/system";



/* construction-トップタイトル */
.construction-top {
  width: 100%;
  height: 250px;
  background: -webkit-image-set(url(../images/construction/construction__head.png) 1x, url(../images/construction/construction__head@2x.png) 2x) center center/cover;
}

