@import "../common/system";

/* about 768up */

.about-content{
  display: flex;
  gap: unquote('min( 4.63vw, 50px)');
}
.about-content__img{
  width: unquote('min( 54%, 580px)');
  flex-shrink: 0;
}
.about-main > div:nth-of-type(odd){
  flex-direction: row-reverse;
}