.selectreason {
  &__title{
    margin-top:85px;
  }
  &__contents{
    margin-bottom:40px;
  }
    &__contentbox {
      margin:0 auto;
      max-width:500px;


    }
    &__subtext{
      margin-bottom:80px;
    }
  }