@import "../common/system";

/* construction 1000up */
.columnlist-body__wrap {
  padding-right: 0px;
  padding-left: 0px;
}


/* columnlist-パンくずリスト */
.columnlist-pagination {

  margin-top: 0;
}

.columnlist-breadcrumbs {

  margin-bottom: 110px;

}